body{background:#808080;font-size:14px;margin:0;text-align:center}
header{background:#000;display:inline-block;margin:.1em;vertical-align:top;width:90%}
header #logo{display:inline-block;padding:.3em;vertical-align:top;width:90%}
header #logo #imagen{display:inline-block;width:20%}
header #logo #avatar{color:#fff;font-family:"Diplomata",Arial;font-size:.5em;float:left;margin:.3em;margin-top:0;position:relative;width:33%}
header #logo #titulo{color:#fff;font-family:"Diplomata",Arial;font-size:.5em;float:right;margin-top:0;margin-left:.3em;position:relative;vertical-align:top;width:33%}
nav{background:#808080;border-bottom:4px solid transparent;border-left:10px solid #000;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:10px solid #000;border-top:4px solid transparent;color:#fff;display:inline-block;font-size:1.2em;text-align:center;vertical-align:top;width:90%}
nav ul{list-style:none;margin:0;padding:0 .8em}
nav ul li{display:inline-block;margin:0 1.2em 0 0;vertical-align:top}
nav ul li a{color:#fff;font-weight:normal;display:block;padding:0 0}
nav ul li a:hover{color:#9224f4;border-bottom:3px solid #0058a5;margin:0;padding:0}
#contenedor{display:inline-block;background:#000;padding:.1em;width:90%}
#contenedor #texto{color:#fff;display:inline-block;vertical-align:top;width:40%}
#contenedor #texto h2{font-family:"Diplomata",Arial;font-size:1em;font-weight:bold}
#contenedor #texto h3{font-family:"Diplomata",Arial;font-size:1em;font-weight:bold}
#contenedor #texto .imagenes{border-radius:20%;width:15%}
#contenedor #texto .imagenes{-webkit-transition:all 1s ease 1s;-moz-transition:all 1s ease 1s;-o-transition:all 1s ease 1s;transition:all 1s ease 1s}
#contenedor #texto .imagenes:hover{box-shadow:8px 10px 13px rgba(0,0,0,0.7);display:inline-block;margin:.5em .4;width:50%}
#contenedor #derecha{display:inline-block;float:right;margin:.2em;padding:.5em;width:25%}
#contenedor #derecha #fotos{color:#fff;display:inline-block;vertical-align:top;width:100%}
#contenedor #derecha #fotos .foto{display:inline-block;float:left;width:30%}
#contenedor #derecha #fotos h3{font-family:"Diplomata",Arial;font-size:.5em}
#contenedor #derecha #redes{width:100%}
#contenedor #derecha #redes .enlaces{width:17%}
#contenedor #derecha #otros{display:inline-block;margin:.3em;vertical-align:top;width:100%}
#contenedor #derecha #redes h3{color:#fff;font-family:"Diplomata",Arial;font-size:.5em}
#contenedor #derecha #otros h3{color:#fff;font-family:"Diplomata",Arial;font-size:.7em}
#contenedor #derecha #otros .interes{width:40%}
#contenedor #derecha #links{color:#fff}
#contenedor #derecha #links h3{color:#fff;font-family:"Diplomata",Arial;font-size:.7em}
#contenedor #derecha #links a{color:#fff;font-size:.8em}
#contenedor #derecha #links a:hover{color:#f00;font-size:1em}
#contenedor #izquierda{display:inline-block;float:left;margin:.2em;padding:.2em;width:22%}
#contenedor #izquierda #video{width:100%}
#contenedor #izquierda #video .video{width:50%}
#contenedor #izquierda #publicidad{display:inline-block;vertical-align:top;width:100%}
#contenedor #izquierda #publicidad .interes{display:inline-block;padding:.3em;vertical-align:top;width:40%}
#contenedor #pie{background:#a3a0a7;color:#fff;display:inline-block;vertical-align:top;width:90%}
#contenedor #pie #png{display:inline-block;width:30%}
#contenedor #pie h3{float:left;margin:2em;margin-top:0}
#contenedor #pie #estilo{display:inline-block;font-size:1em;float:left;margin-top:0;width:50%}
@media screen and (min-width:768px){body{margin:0 auto;max-width:1200px}
#contenedor{width:90%}
}