body
	background grey
	font-size 14px
	margin  0px
	text-align  center

header
	background black
	display  inline-block
	margin 0.1em
	vertical-align top
	width 90%

header #avatar
	color white
	display inline-block
	font-size 1.3em
	float left
	margin 0em 0.3em
	position relative

header #titulo
	color white
	display inline-block
	float right 
	margin 0.1em
	position relative

header #logo
	display inline-block
	width 50%

nav
	background #684124
	border-bottom 4px solid transparent
	border-left 10px solid grey
	border-top 4px solid transparent
	border-bottom 4px solid transparent
	border-right 10px solid grey
	border-top 4px solid transparent
	color white
	display inline-block
	font-size 1.4em
	text-align center
	vertical-align top
	width 90%

nav ul
	list-style none
	margin 0px
	padding 0 0.8em

nav ul li 
	display inline-block
	margin 0 1.2em 0 0
	vertical-align top

nav ul li a 
	color white
	font-weight normal
	display block
	padding 0 0

nav ul li a:hover
	border-bottom 3px solid #0058A5
	margin 0px
	padding 0px

#contenedor
	display inline-block
	background black
	width 90%

#contenedor #texto
	color white
	display inline-block
	margin 0.3em
	width 50%