@media screen and (min-width:768px)
	body
		margin 0 auto
		max-width 1200px

	#contenedor
		width 90%

	#contenedor #texto .item .invisible
		display inline-block 
		font-size 1.2em
		width 90%

	#contenedor #texto .item .visible .imeil
		color #5B86DC
		display inline-block

